@model MonteCarlo_Shradha.Models.ForecastedAccount

@{
    ViewBag.Title = "Forecasted Account";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/Styles.css" />
    <title>@Model.brandName | Forecast</title>
</head>
<body>
    <h1>@Model.brandName</h1>
    <hr />
    <br />
    <div class="page-content">
        <div class="row">
            <h3 class="col-xs-4">Date: @Model.forecastDate</h3>
            <h3 class="col-xs-4">Account Code: @Model.accountCode</h3>
            <h3 class="col-xs-4">Account Number: @Model.accountNumber</h3>
        </div>
        <div>
            <h3><strong>Assumptions</strong></h3>
            <div class="row">
                <div class="col-xs-3">
                    <h4>Iterations: @Model.iterations</h4>
                    <h4>Number of Previous Months: @Model.numberOfPrevMonths</h4>
                    <h4>Number of Months to Forecast: @Model.numberOfForecastMonths</h4>
                </div>
                <div class="col-xs-3">
                    <h4>Lower Custom Percentages (%):</h4>
                    <ul>
                        @foreach (var percentage in Model.initialLowerPercentages)
                        {
                            <li>@percentage</li>
                        }
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h4>Upper Custom Percentages (%):</h4>
                    <ul>
                        @foreach (var percentage in Model.initialUpperPercentages)
                        {
                            <li>@percentage</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h3><strong>Results</strong></h3>
            <h4>Number of Products: @Model.productsList.Count</h4>
            <h4>Total Mean % Diff: +/- @Model.totalMeanPercDifference %</h4>
            <h4>Total Lower % Diff: +/- @Model.totalLowerPercDifference %</h4>
            <h4>Total Upper % Diff: +/- @Model.totalUpperPercDifference %</h4>
        </div>
    </div>
    <hr />
    @foreach (var product in Model.productsList)
    {
        <br />
        <div>
            <h1>@product.productName</h1>
            <br />
            <div class="page-content">
                <h3>NRCode: @product.nrCode</h3>
                <div>
                    <h3><strong>Results</strong></h3>
                    <div class="col-xs-6">
                        <h4>Total sales from @product.predictedMonthlySales.ElementAt(product.predictedMonthlySales.Count - Model.numberOfForecastMonths - 1).Key : @product.lastMonthSales</h4>
                        <h4>Total sales from month before @product.predictedMonthlySales.First().Key : @product.monthBeforeBacktestingSales</h4>
                    </div>
                    <div class="col-xs-6">
                        <h3>Total Average % Difference</h3>
                        <ul>
                            @foreach (var percentage in product.totalPercentageDifferences)
                            {
                                <li>@percentage</li>
                            }
                        </ul>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <br />
            <table>
                <tr>
                    <th width="6.5%">Date &nbsp; &nbsp;</th>
                    <th>Actual Sales &nbsp; &nbsp;</th>
                    <th>Predicted Sales &nbsp; &nbsp;</th>
                    <th>Mean Sales Difference &nbsp; &nbsp;</th>
                    <th>Mean % Difference &nbsp; &nbsp;</th>
                    <th>25% Lower Bounds &nbsp; &nbsp;</th>
                    <th>75% Upper Bounds &nbsp; &nbsp;</th>
                    <th>5% Lower Bounds &nbsp; &nbsp;</th>
                    <th>Lower Sales Difference &nbsp; &nbsp;</th>
                    <th>Lower % Difference &nbsp; &nbsp;</th>
                    <th>95% Upper Bounds &nbsp; &nbsp;</th>
                    <th>Upper Sales Difference &nbsp; &nbsp;</th>
                    <th>Upper % Difference &nbsp; &nbsp;</th>
                </tr>
                <tr>
                    <td>
                        @foreach (var month in product.predictedMonthlySales.Reverse())
                        {
                            if (month.Key == DateTime.Today.ToString("MMM yyyy")) //Separate current month & future months from previous months
                            {
                                <p>@month.Key</p>
                                <hr />
                            }
                            else
                            {
                                <p>@month.Key</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i ++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var actualSale in product.actualMonthlySales.Reverse())
                        {
                            if (actualSale.Key == DateTime.Today.ToString("MMM yyyy")) //Separate current month & future months from previous months
                            {
                                <p>@actualSale.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@actualSale.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var predictedSale in product.predictedMonthlySales.Reverse())
                        {
                            if (predictedSale.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@predictedSale.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@predictedSale.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var difference in product.meanSalesDifference.Reverse())
                        {
                            if (difference.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@difference.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@difference.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var difference in product.meanPercentageDifference.Reverse())
                        {
                            if (difference.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@difference.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@difference.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var lBound in product.monthlyLowerBounds.Reverse())
                        {
                            if (lBound.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@lBound.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@lBound.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var uBound in product.monthlyUpperBounds.Reverse())
                        {
                            if (uBound.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@uBound.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@uBound.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var lBound in product.ninetyFiveLowerBounds.Reverse())
                        {
                            if (lBound.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@lBound.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@lBound.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var difference in product.lowerSalesDifference.Reverse())
                        {
                            if (difference.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@difference.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@difference.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var difference in product.lowerPercentageDifference.Reverse())
                        {
                            if (difference.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@difference.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@difference.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @foreach (var uBound in product.ninetyFiveUpperBounds.Reverse())
                        {
                            if (uBound.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@uBound.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@uBound.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var difference in product.upperSalesDifference.Reverse())
                        {
                            if (difference.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@difference.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@difference.Value</p>
                            }
                        }
                    </td>
                    <td>
                        @for (var i = 0; i < Model.numberOfForecastMonths; i++)
                        {
                            <p>---</p>
                        }
                        <hr />
                        @foreach (var difference in product.upperPercentageDifference.Reverse())
                        {
                            if (difference.Key == DateTime.Today.ToString("MMM yyyy"))
                            {
                                <p>@difference.Value</p>
                                <hr />
                            }
                            else
                            {
                                <p>@difference.Value</p>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <br />
    }
    <h4>@Model.accountJson</h4>
</body>
</html>
